In [1]:
#import statements, dependencies, and setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
from requests.structures import CaseInsensitiveDict
import datetime
from scipy import stats
import time

from api import census_key

In [2]:
#Read Heart Attack Data
heart_attack_metadata_path = "Resources/heart_attack_hospitalizations_by_county.csv"
heart_attack_df = pd.read_csv(heart_attack_metadata_path)

heart_attack_df.head()

,fips,population,year,county,sex,age,ci,aci,rate,ageAdjust,count,Unnamed: 11
27000,8346991.0,2008-2010,Minnesota,All,All Ages 35+ Combined ...,(30.5 - 31.2),(28.8 - 29.6),30.9,29.2,25751.0,NaN,NaN
27000,8584362.0,2011-2013,Minnesota,All,All Ages 35+ Combined ...,(28.8 - 29.6),(26.4 - 27.0),29.2,26.7,25070.0,NaN,NaN
27000,8762674.0,2013-2015,Minnesota,All,All Ages 35+ Combined ...,(28.6 - 29.3),(25.8 - 26.4),29.0,26.1,25404.0,NaN,NaN
27000,8936064.0,2015-2017,Minnesota,ALL,All Ages 35+ Combined ...,(0.0 - 0.0),(0.0 - 0.0),29.8,26.5,26626.0,NaN,NaN
27000,9031469.0,2016-2018,Minnesota,All,All Ages 35+ Combined ...,(29.5 - 30.2),(26.1 - 26.7),29.9,26.4,26995.0,NaN,NaN

In [3]:
#Read Cancer Data
cancer_metadata_path = "Resources/cancer_hospitalizations.csv"
cancer_df = pd.read_csv(cancer_metadata_path)

cancer_df.head()

,fips,location,year,type,age,sex,count,population,rate,unstable,ci,lci,uci,Unnamed: 13
0,27000,Minnesota,2015-2019,Non-Hodgkin lymphoma,All Ages,Male,4047,13849753.0,26.6,False,(25.8 - 27.4),25.8,27.4,NaN
1,27000,Minnesota,2010-2014,Pancreas,All Ages,Male,1975,13360340.0,14.4,False,(13.7 - 15.0),13.7,15.0,NaN
2,27000,Minnesota,2015-2019,Pancreas,All Ages,Male,2395,13849753.0,15.4,False,(14.7 - 16.0),14.7,16.0,NaN
3,27000,Minnesota,2015-2019,Thyroid,All Ages,Female,2517,13967134.0,17.7,False,(17.0 - 18.4),17.0,18.4,NaN
4,27000,Minnesota,2005-2009,Thyroid,All Ages,Male,746,12912899.0,5.8,False,(5.4 - 6.2),5.4,6.2,NaN

In [5]:

# https://api.census.gov/data/2020/acs/acs5?get=NAME,B17001_002E,B17001_003E,B17001_017E&for=county:053&in=state:27

# Initialize an empty DataFrame
df = pd.DataFrame()

# Loop over years
for year in range(2005, 2023):
    # Specify the county FIPS code
    hennepin_county_code = '053'
    
    # Construct the API URL with the API key
    url = f'https://api.census.gov/data/{year}/acs/acs5?get=NAME,B17001_002E,B17001_003E,B17001_017E&for=county:{hennepin_county_code}&in=state:27&key={census_key}'
    print(f'URL: {url}')
    # Make the API request
    response = requests.get(url)
    
    if response.status_code == 200:
        print(f"Year: {year}, County FIPS: {hennepin_county_code}, Response Content: {response.text}")
        
        # Convert the response to a DataFrame
        county_data = pd.DataFrame(response.json()[1:], columns=response.json()[0])
        
        # Append the year and county columns to the DataFrame
        county_data['Year'] = year
        county_data['County_FIPS'] = hennepin_county_code
        
        # Append the county data to the main DataFrame
        df = df.append(county_data, ignore_index=True)
    else:
        print(f"Failed to fetch data for {year} - County FIPS {hennepin_county_code}. Status Code: {response.status_code}")

# Display the head of the resulting DataFrame
print(df.head())

URL: https://api.census.gov/data/2005/acs/acs5?get=NAME,B17001_002E,B17001_003E,B17001_017E&for=county:053&in=state:27&key=d916d35763f5b24a3b9234df77e3a64b23ee6693
Failed to fetch data for 2005 - County FIPS 053. Status Code: 404
URL: https://api.census.gov/data/2006/acs/acs5?get=NAME,B17001_002E,B17001_003E,B17001_017E&for=county:053&in=state:27&key=d916d35763f5b24a3b9234df77e3a64b23ee6693
Failed to fetch data for 2006 - County FIPS 053. Status Code: 404
URL: https://api.census.gov/data/2007/acs/acs5?get=NAME,B17001_002E,B17001_003E,B17001_017E&for=county:053&in=state:27&key=d916d35763f5b24a3b9234df77e3a64b23ee6693
Failed to fetch data for 2007 - County FIPS 053. Status Code: 404
URL: https://api.census.gov/data/2008/acs/acs5?get=NAME,B17001_002E,B17001_003E,B17001_017E&for=county:053&in=state:27&key=d916d35763f5b24a3b9234df77e3a64b23ee6693
Failed to fetch data for 2008 - County FIPS 053. Status Code: 404
URL: https://api.census.gov/data/2009/acs/acs5?get=NAME,B17001_002E,B17001_003E,B17001_017E&for=county:053&in=state:27&key=d916d35763f5b24a3b9234df77e3a64b23ee6693
Year: 2009, County FIPS: 053, Response Content: [["NAME","B17001_002E","B17001_003E","B17001_017E","state","county"],
["Hennepin County, Minnesota","124070","57855","66215","27","053"]]

AttributeError: 'DataFrame' object has no attribute 'append'